/problema1/RegistroColegio/nbproject/private/
/problema1/RegistroColegio/build/
/problema2/RegistroProfesor/nbproject/private/
/problema2/RegistroProfesor/build/
/problema3/Automotor/nbproject/private/
/problema3/Automotor/build/
/problema4/EntidadFinanciera/nbproject/private/
/problema4/EntidadFinanciera/build/
